{
  "_comment": "Example configuration for MediaWiki scraper. Copy to config.json and edit.",
  "map_race_to_ethnicity": false,
  "map_universe_to_disambiguation": false,
  "max_description_length": 2200,
  "extract_categories": false,
  "approximate_birthdate": true,
  "add_universe_to_tags": true,
  "fictional_character_features": true
}
